dex-retargeting>=0.5.0
aiohttp>=3.9.5
aiohttp_cors
aiortc
av>=12.0.0
dynamixel_sdk>=3.7.31
einops>=0.8.0
ipython
packaging>=24.1
params_proto
pytransform3d>=3.5.0
PyYAML>=6.0.1
seaborn>=0.13.2
setuptools>=70.0.0
tqdm>=4.66.4
vuer
wandb>=0.17.3
atomics
pynput
zarr>=2.18.0
imagecodecs
dill
hydra-core>=1.3.2
numcodecs>=0.13.0
zerorpc
pygame
imageio>=2.34.0
imageio-ffmpeg
keyboard
lzfse
pyliblzfse
yapf
xformers
fpsample
openai-clip
plyfile
openai
x-transformers
huggingface_hub>=0.23.0
diffusers
peft
